table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .5em;
}

nav ul li {
    list-style-type: none;
}

.info-msg {
    font-style: italic;
    font-weight: bolder;
    color: darkblue;
}